.form {
    margin: 50px;
}

.input {
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
}

.input:focus {
    border: 2px solid red;
}

.btn {
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid gray;
}

.btn:hover{
    background-color: red;
    color: #fff;
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}