.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: red;
}

.link:hover{
    color: #000;
}