.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postCard {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px gray;
    padding: 12px;
}

.postCard:hover {
    color: red;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}