.title {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    color: rgb(0, 104, 74);
    margin: 25px 0;
    text-align: center;
}

.group {
    margin-bottom: 20px;
}

.label {
    font-size: 15px;
    color: rgb(61, 79, 88);
    position: relative;
    height: 16px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
}

.input {
    width: 100%;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 30, 43);
    padding-left: 12px;
    outline: none;
    border-radius: 6px;
    transition: border-color 150ms ease-in-out, box-shadow;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(136, 147, 151);
    border-image: initial;
}

.input:focus {
    box-shadow: rgb(4, 152, 236) 0px 0px 0px 3px;
    border-color: rgb(255, 255, 255);
}

input:hover {
    box-shadow: rgb(232, 236, 235) 0px 0px 0px 3px;
    border-color: rgb(136, 147, 151);
}

.btn {
    width: 100%;
    height: 52px;
    background-color: white;
    color: rgb(92, 108, 117);
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgb(136, 147, 151);
    box-shadow: lightgray 0px 1px;
}

.btn:hover {
    box-shadow: rgb(232, 236, 235) 0px 0px 0px 3px;
    border-color: rgb(136, 147, 151);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

.errors {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}