.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 27px;
}

.item {
    width: 270px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.item.more {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 61px 0 0 29px;
}

.item_text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.1;
    margin-top: 20px;
    max-width: 130px;
}

.item_text.more {
    color: #000000A6;
}