form {
    display: flex;
    
}

.field_wrapper {
    background-color: #ffffff;
    padding: 35px 30px;
    display: flex;
    align-items: center;
    box-shadow: 6px 5px 9px 0 rgba(0, 0, 0, 0.35);
}

.btn {
    background-color: var(--dark-color);
    padding: 41px 70px;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    line-height: 1;
    border: none;
    box-shadow: 6px 5px 9px 0 rgba(0, 0, 0, 0.35);
}

.form_group {
    display: flex;
    align-items: center;
    gap: 13px;
}

.text_field {
    font-size: 18px;
    color: #000000;
    border: none;
}
.text_field::placeholder {
    color: #000000;
}

.text_field:focus, .text_field:focus-visible {
    border: none;
}

.divider {
    margin: 0 132px;
    color: rgba(0, 0, 0, 0.5);
}